/* ==UserStyle==
@name		3DSPaint Darkmode Fix
@namespace	3dspaint.com
@version	1.1.0
@description	Fixing 3DSPaint's darkmode where its broken! v1.1 has basically become more like a re-write of the entire code and stuff to work more properly on other pages.
@author		Digital Cheese
==/UserStyle== */
@-moz-document url-prefix("https://3dspaint.com/photo_gallery/member_gallery.php") {
    tr {
        background:#222!important;
    }
    tr:nth-child(2n+1) {
        background:#282828!important;
    }
    
    table {
        background:#222;
        border:1px transparent solid;
        max-width:800px;
    }
    
    h2 a, td {
        font-size:12px!important
    }
}
@-moz-document url-prefix("https://3dspaint.com/photo_gallery/member_album.php") {
    table {
        background:#222!important;
        max-width:800px;
        margin:auto;
    }
    tr {
        background:#222!important;
    }
    tr:nth-child(2n+1) {
        background:#282828!important;
    }
    
    h2 a {
        font-size:12px!important;
        color:white;
        font-weight:normal;
    }
}
@-moz-document url-prefix(https://3dspaint.com/blogsearch.php), url-prefix("https://dsipaint.com/blogsearch.php") {
    table {
        background:#222!important;
        color:white!important;
        max-width:800px!important;
    }
    tr {
        background:#222!important;
        color:white;
    }
    tr:nth-child(2n+1) {
        background:#282828!important;
    }
}
@-moz-document url(https://3dspaint.com/menu_library.php), url("https://dsipaint.com/menu_library.php") {
    div {margin:auto;}
}
@-moz-document url-prefix(https://3dspaint.com/tmj/), url-prefix("https://dsipaint.com/menu_tmj.php"), url-prefix("https://dsipaint.com/tmj/tmj_beastiary.php"), url-prefix("https://dsipaint.com/tmj/tmj_characters.php"), url-prefix("https://dsipaint.com/tmj/item_database.php") {
    table {
        background:#222;
        color:white;
        border:1px transparent solid;
        max-width:800px
    }
    tr, td {
        background:#222;
        color:white;
        font-size:12px;
    }
    tr:nth-child(2n+1) td {
        background:#282828!important;
    }
    table.data_table {
        background:#222;
        width:100%;
        max-width:400px!important;
    }
    
    div.beast_frame, div.char_frame {
        max-width:800px;
        margin:auto;
        filter:invert(100);
        color:black!important
    }
    
    div.item_zebra0 {
        background:#222!important;
        color:white!important;
        font-size:12px!important;
        max-width:800px;
        margin:auto;
    }
    div.item_zebra1 {
        background:#282828!important;
        color:white!important;
        font-size:12px!important;
        max-width:800px;
        margin:auto;
    }
    
    div#walking {
        margin:auto;
        max-width:800px;
    }
}
@-moz-document url-prefix(https://3dspaint.com/menu_links.php), url-prefix("https://dsipaint.com/menu_links.php") {
    table.list {
        background:#222;
        border:1px transparent solid;
        width:100%!important;
        max-width:800px!important;
        margin:auto;
    }
    td {
        background:#222;
    }
    
    tr td:nth-child(2n+1) {
        background:#282828
    }
    
    td.title {
        background:#009!important
    }
}
@-moz-document url(https://3dspaint.com/myblogs.php), url("https://3dspaint.com/mylibrary.php"), url("https://dsipaint.com/myblogs.php") {
    table, tbody {
        background:#222!important;
        border:1px transparent solid!important;
        margin:auto!important;
        max-width:800px!important;
    }
    tr {
        background:#222!important;
        border:1px transparent solid!important;
        margin:auto!important;
        max-width:800px!important;
    }
    
    tbody#tbody_blogs tr:nth-child(2n+1) {
        background:#282828!important;
        color:white;
    }
}
@-moz-document url-prefix(https://3dspaint.com/mybookcomposer.php) {
    table, thead, tbody {
        background:#222!important;
        border:1px transparent solid;
        font-size:12px!important;
        color:white!important;
        max-width:800px!important;
        width:100%
    }
    
    tr {
        background:#222!important;
        font-size:12px!important;
        color:white!important;
    }
    tr:nth-child(2n+1) {
        background:#282828!important;
        font-size:12px!important;
        color:white!important;
    }
}
@-moz-document url-prefix(https://3dspaint.com/mymessagecomposer.php), url-prefix("https://dsipaint.com/mymessagecomposer.php") {
    table.list {
        background:#222;
    }
    tr.form_heading, div#search_container {
        background:#282828!important;
        border:1px transparent solid;
    }
    textarea, input {
        background:#111!important;
        border:1px transparent solid!important;
    }
    textarea#quote_body {
        background:#002!important;
    }
}
@-moz-document url-prefix(https://3dspaint.com/chatroom/), url-prefix("https://dsipaint.com/chatroom/") {
    div.chatPane {
        width:99%!important;
        max-width:1000px!important;
        margin:8px auto!important;
        border:1px white solid!important;
        font-size:12px!important;
        line-height:14px!important;
    }
    
    div.chatPane:nth-child(2) {
        height:200px!important;
    }
    
    #divChatText {
        background-color:black!important;
        width:99%!important;
        max-width:100%!important;
        margin:auto!important;
        text-align:center!important;
        height:100%!important;
        border:1px transparent!important;
        font-size:12px!important;
        line-height:14px!important;
    }
    
    input#txtPost {
        background:#000!important;
        width:99%!important;
        height:25px!important;
    }
    input.form_button {
        width:99%!important;
    }
    
    div#popupProfile {
        background:#000!important;
        position:absolute!important;
        text-align:center!important;
        width:99%!important;
        max-width:1000px!important;
        top:0!important;
        left:0!important;
        margin:auto!important;
    }
}
@-moz-document url-prefix(https://dsipaint.com) {
    body {
        width:100%;
        word-wrap:break-word!important;
        font-size:12px!important;
        line-height:14px!important;
    }
    
    div.menu_section {
        max-width:800px;
        margin:auto;
        border-radius:6px;
        font-size:12px;
        line-height:14px;
        overflow:hidden;
        padding: 5px 0px 5px 0px
    }
    div.nav_div {
        margin:3px 3px 3px 8px!important;
    }
    div.zebra:nth-child(2n+1) {
        background:#282828!important;
    }
    div.alerts_popup.menu_section {
        border-radius: 5px;
        opacity: .7;
        left: 5px;
        padding: 3px;
        position: fixed;
        right: 5px;
        text-align: center;
        top: 5px;
        width:99%;
        max-width:800px
    }
    
    div.nav_avatar IMG {
        width:32px;
        height:32px;
        border-radius:16px!important;
    }
}
@-moz-document url-prefix(https://dsipaint.com/paint/album.php), url-prefix("https://dsipaint.com/paint/top10.php"), url-prefix("https://dsipaint.com/paint/dsipaint_spriter_album.php"), url-prefix("https://dsipaint.com/paint/dsipaint_spriter_top10.php") {
    div {
        margin:auto!important;
        background:#222!important;
        border:1px transparent solid;
        max-width:800px;
    }
    form, input.form_button {
        width:100%;
        max-width:400px;
        margin:auto!important;
    }
}
@-moz-document url-prefix(https://dsipaint.com/menu_dsipaint_spriter.php), url-prefix("https://dsipaint.com/menu_gameshows.php") {
    table, td {
        background:#222!important;
        max-width:800px;
        margin:auto;
    }
}
@-moz-document url-prefix(https://dsipaint.com/menu_saviis.php), url-prefix("https://dsipaint.com/saviis/savii_marketplace.php"), url-prefix("https://dsipaint.com/saviis/savii_bucks_buy.php") {
    table, div.menu_section, div.section_info {
        background:#222!important;
        color:white!important;
        max-width:800px;
        margin:auto;
    }
    td {
        background:#222!important;
        color:white;
    }
    h1 {
        color:white;
    }
}

@-moz-document url-prefix(https://dsipaint.com/mymessageviewer.php) {
    div.message_center, div.message_left, div.message_right {
        width:100%;
        max-width:800px;
        margin:auto;
    }
    div.message_left {
    background:#282828!important
    }
}

@-moz-document url-prefix(https://dsipaint.com/saviis/savii_gallery.php) {
    div {
        background:#222!important;
        margin:auto!important;
        width:100%!important;
        max-width:800px;
        color:white;
    }
    h2.name {
        background:#004!important;
        border-radius:6px 6px 6px 6px!important;
        border:2px transparent solid;
        color:white!important
    }
    h1 {
        color:white!important;
    }
}
@-moz-document url-prefix("https://3dspaint.com/terms.php"), url-prefix("https://dsipaint.com/terms.php") {
    div {
        background:#222!important;
        color:white;
        max-width:800px;
        margin:auto!important
    }
}