A {
	color:#00f;
}

BODY {
	background-color: #fff;
	color:#222;
}

H1 {
	background-color:#f8f8f8;
	color:#000;
}

H2 {
	background-color:#00f;
	color:#000;
}

LABEL.tag_default {
	background-color:#bbb;
	border-color:#999;
}
LABEL.tag_lowest {
	background-color:#4f4;
	border-color:#999;
}
LABEL.tag_low {
	background-color:#8f4;
	border-color:#999;
}
LABEL.tag_medium {
	background-color:#ff4;
	border-color:#999;
}
LABEL.tag_high {
	background-color:#f84;
	border-color:#999;
}
LABEL.tag_highest {
	background-color:#f44;
	border-color:#999;
}

.light{
	background-color:#f8f8f8;
	color:#000;
}

.zebra {
	background-color:#fff;
	text-align:left;
}
.light .head{
	background-color:#ffc !important;
	font-variant:all-caps;
	text-align:center !important;
}

.error {
	background-color:#f00 !important;
	text-align:center;
}
.notice {
	background-color:#00f !important;
	text-align:center;
}

.menu_section {
	background-color:#f8f8f8;
	border:1px solid #eee;
	color:#000;
}
.menu_section DIV.icon SPAN {
	background-color:#eee;
	border:1px outset #666;
}

.menu_section DIV.thumb IMG {
	border:2px inset #888;
}

.menu_section DIV.form_heading {
	background-color:#ffb;
}

.form_field, .form_textarea {
	background-color:#ddd;
	color: #000;
}

.spoiler_body {
	background: #ddd;
}

/*approved and declined*/
.approved {
	background-color:#4f4 !important;
}
.declined {
	background-color:#f44 !important;
}
